
*.properties
/api/Tramite/target/
api/Tramite/target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
api/Tramite/target/classes/.netbeans_automatic_build
api/Tramite/target/Tramite-1.0-SNAPSHOT.jar
api/Tramite/target/test-classes/.netbeans_automatic_build
api/Tramite/target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
api/Tramite/target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
api/Tramite/target/classes/module-info.class
api/Tramite/target/classes/.netbeans_automatic_build
api/Tramite/target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
