/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : 3 sep. 2020, 15:16:20
    Author     : cordo
*/


.fondoLogIn{
    -fx-image:url('fondo.jpg')
}

.imvUser{
    -fx-image:url('usuario.png')
}

.imvPass{
    -fx-image:url('clave.png')
}


.anchor{
    -fx-background-color: white;
    -fx-opacity: 0.85;
    -fx-border-radius: 30px;
    -fx-background-radius: 30px;
}

.campostext{
    -fx-prompt-text-fill: #504f4f;
    -fx-font: bold 17px "Courier";
    -fx-background-color: transparent;
    -fx-border-color: black;
    -fx-border-width: 0 0 2 0;
    -fx-text-fill: black;
}

.campostext:hover{
    -fx-border-color: #3cb371;
    -fx-prompt-text-fill: #3cb371;
    -fx-text-fill: #3cb371;
}

.label{
    -fx-alignment: CENTER;
    -fx-font: bold 26px "Arial";
}

Button{
    -fx-font: bold 22px "Arial";
    -fx-text-fill: white;
    -fx-background-color: #3cb371;  
    -fx-background-radius: 15;
}

Button:hover{
    -fx-background-color: #3ccd5b;
    -fx-scale-x: 1.1;
    -fx-scale-y: 1.1;
  /*  -fx-opacity: 0.8;*/
  -fx-font: bold 14px "Arial";
    -fx-text-fill: white;
    -fx-background-color: #003366;  
}

Button:hover{
    -fx-font: bold 14px "Arial";
    -fx-background-color: #184d82;
    -fx-scale-x: 1.03;
    -fx-scale-y: 1.03;
}

.check{
    -fx-font: bold 18px "Arial";
    -fx-text-fill: #504f4f;
}

.check .box{
    -fx-background-color: transparent;
    -fx-border-color: #3cb371;
    -fx-border-radius: 5;
    -fx-border-width: 2;
}

.check:selected .mark{
    -fx-background-color: #3ccd5b;
}

